{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 80rem">
            <h5 class="card-header">Выполнение заявки</h5>
            <div class="card-body">
                <h5 class="card-title">Успешное выполнение заявки</h5>
                <form method="POST" action="{{ path('referral_success_process') }}">
                    <input type="hidden" value="{{ referral.id }}" name="id" />
                    <a href="{{ path('participant_referrals', {id:referral.participant.id}) }}" class="btn btn-info">Отмена</a>
                    <input type="submit" value="Выполнить" class="btn btn-success" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
