{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card" style="width: 80rem">
            <h5 class="card-header">Удаление новости</h5>
            <div class="card-body">
                <h5 class="card-title">Удаление опубликованной новости</h5>

                <div style="width: 1000px">
                    <form method="POST" action="{{ path('news_remove', {id:news.id}) }}">
                        <b style="color: red">Удалить новость?</b><br><br>
                        <a href="{{ path('news') }}" class="btn btn-info">Отмена</a>
                        <input type="submit" class="btn btn-danger" value="Удалить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
